<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container">
        <h1><strong>
            Como encontrou essa Biblioteca no meio do deserto?
                   
        </strong></h1>
        <h2><strong>
             Humanos não deveriam se aventurar pelo mundo dos espíritos!
        </strong></h2> 

        <hr>

        <div class="card">
            <div class="card-header">
                <h3>Bom, se está aqui, deve querer algo...</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/intrusos">Intrusos</a></li>
                    <li><a href="/livros">Livros</a></li>
                    <li><a href="/trocas">Trocas</a></li>
                </ul>
            </div>
        </div>
</div>
    
<%- include ('partials/footer.ejs') %>
